:root  {
    --swiper-scrollbar-border-radius: 3px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 4px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 1%;
    --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.3);
    --swiper-scrollbar-drag-bg-color: rgb(255, 255, 255);
    --swiper-scrollbar-size: 2px;
}
